<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet"/>

    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>
<th:block layout:fragment="script">
    <script>


    </script>
</th:block>
<th:block layout:fragment="css">
    <style>


    </style>
</th:block>


<body>
<p>Main Page</p>
<a href="/board">게시판 이동</a>
</body>
</html>